

header {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 80vh;
    max-width: 800px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



#image-container img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#image-container img.active {
    display: block;
}

.back, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    z-index: 10; /* Assicurarsi che i pulsanti siano sopra le immagini */
}

.back {
    left: 25%;
}

.next {
    right: 25%;
}